*startup.sh
*checkpoints*
*_pycache_*
../plots/*
analysis/plots/**
*.png
*_raw_*.csv
*_converted_*.csv
analysis/results/flarefind
**/archive/
papers/
zz_*.ipynb
analysis/results/mcmc/Gizis_KIC100_Gaia_Update/
.joblib/
analysis/notebooks/old_scripts/

